*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
body{
    background-color: #023047;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    font-size: 1rem;
    z-index: 1000;
}
.logo{
    font-size: 2rem;
    font-weight: 800;
    color: #fb8500;
    cursor: default;
    letter-spacing: 0.4rem;
}
nav a{
    font-size: 1rem;
    font-weight: 600;
    color: #ffb703;
    margin: 0 2rem
}
nav a:hover{
    color: #fb8500;
}
.active{
    color: #fb8500;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}
nav a.active:hover {
    color: #fb8500; /* Mantém a mesma cor que o estado ativo */
    text-decoration: underline; /* Mantém a sublinhado */
    cursor: default; /* Mostra que não há ação ao passar o rato */
}

.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
}
.content{
    margin-right: 10rem;
    margin-left: 4rem;
    width: 50%;
}
.name{
    font-size: 2rem;
    font-weight: 800;
    color: white;
}
#ricardo{
    color: #fb8500;
}
.description{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
}
.aboutme{
    font-size: 1rem;
    color: white;
    text-align: justify;
    line-height: 1.5;
    font-size: 1.2rem;
}
.img{
    display: flex;
    justify-content: center;
    width: 23%;
    border-radius: 45%;
    margin-left: 12rem;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);
}
.social-icons{
    display: flex;
    margin-top: 4rem;
}
.social-icons a{
    font-size: 2rem;
    color: white;
    margin-right: 2rem;
}