*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
body{
    background-color: 023047;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    font-size: 1rem;
    z-index: 1000;
}
.logo{
    font-size: 2rem;
    font-weight: 800;
    color: fb8500;
    cursor: default;
    letter-spacing: 0.4rem;
}
nav a{
    font-size: 1rem;
    font-weight: 600;
    color: ffb703;
    margin: 0 2rem
}
nav a:hover{
    color: fb8500;
}
.active{
    color: fb8500;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}
nav a.active:hover {
    color: fb8500; /* Mantém a mesma cor que o estado ativo */
    text-decoration: underline; /* Mantém a sublinhado */
    cursor: default; /* Mostra que não há ação ao passar o rato */
}

.skills{
    margin: 50px;
}
.title{
    font-size: 2rem;
    font-weight: 800;;
    margin-bottom: 1rem;
}
.section{
    background-color: #033e5c;
    border-radius: 35px;
    padding: 1.5rem;
    margin-bottom: 15px;
    margin: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.text{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}